.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 100%;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #282c34;
  padding: 20px 0;
}

.top-button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.top-button:hover {
  background-color: #21a1f1;
}

.top-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.top-button:hover:enabled {
  background-color: #21a1f1;
}

.content {
  margin-top: 20px;
  text-align: center;
  width: 100%; /* 너비를 100%로 설정하여 반응형으로 만듦 */
  max-width: 500px; /* 최대 너비 설정 */
  height: 400px; /* 높이를 자동으로 조정하여 이미지 비율 유지 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #61dafb;
  border-radius: 10px;
  margin-top: 20px;
  zoom: reset;
}

img {
  max-width: 100%; /* 이미지가 컨테이너를 넘지 않도록 설정 */
  max-height: 100%; /* 이미지 비율 유지 */
  object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 채움 */
}
